<title>Λίστα υπηρεσιών</title>
{% extends "base.html" %}

{% block content %}
<div id = "duty-table">
    <table>
        <tr>
            <th>Όνομα</th>
            <th>Επίθετο</th>
            <th>Ημερομηνία</th>
            <th>Υπηρεσία</th>
            {% if authorized %}
            <th> Επεξεργασία</th>
            <th>Διαγραφή</th>
            {% endif %}
        </tr>
        {% for duty in duties_list %}
        <tr>
            <td>{{ duty.name      }}</td>
            <td>{{ duty.lastname  }}</td>
            <td>{{ duty.duty_date }}</td>
            <td>{{ duty.duty_type }}</td>
            {% if authorized %}
            <td><a href="editDuty/{{duty.id}}"><span style="font-size:35px;color:green;">&#9999</span></a></td>
            <td><a href="deleteDuty/{{duty.id}}"><span style="font-size:35px;color:red;">&#10006</span></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
