<title>Λίστα υπηρεσιών</title>
{% extends "base.html" %}

{% block content %}
<div id = "duty-table">
    <table>
        <tr>
            <th>Όνομα</th>
            <th>Επίθετο</th>
            <th>Ημερομηνία</th>
            <th>Υπηρεσία</th>
        </tr>
        {% for duty in duties_list %}
        <tr>
            <td>{{ duty.name      }}</td>
            <td>{{ duty.lastname  }}</td>
            <td>{{ duty.duty_date }}</td>
            <td>{{ duty.duty_type }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
