<title>Λίστα υπηρεσιών</title>
{% extends "base.html" %}

{% block content %}

<center><h2>{{msg_form}}</h2></center>

{% from "_formhelpers.html" import render_field %}
<h4>Αναζήτηση υπηρεσιών</h4>
    <div id="calendarSearchButton">
        <button onclick="hideForm('calendarSearch')">&#128467;</button>
    </div>
    <div id="calendarSearch">
        <form method="POST">
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.search_date) }}
            </dl>
            <p><input type=submit value=Αναζήτηση></p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h4> {{message}} </h4>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </div>
    <div id="searchOptionsButton">
        <button onclick="hideForm('searchOptions')">&#9776;</button>
    </div>
    <div id="searchOptions">
        <form method="POST">
            {{form.hidden_tag() }}
            <dl>
                {{ render_field(form_options.date_options) }}
            </dl>
            {{form_options.submit}}
        </form>
    </div>
</div>
<div id = "duty-table">
    <table>
        <tr>
            <th>Όνομα</th>
            <th>Επίθετο</th>
            <th>Ημερομηνία</th>
            <th>Υπηρεσία</th>
            {% if authorized %}
            <th> Επεξεργασία</th>
            <th>Διαγραφή</th>
            {% endif %}
        </tr>
        {% for duty in duties_list %}
        <tr>
            <td>{{ duty.name      }}</td>
            <td>{{ duty.lastname  }}</td>
            <td>{{ duty.duty_date.strftime("%d-%m-%Y") }}</td>
            <td>{{ duty.duty_type }}</td>
            {% if authorized %}
            <td><a href="editDuty/{{duty.id}}"><span style="font-size:35px;color:green;">&#9999</span></a></td>
            <td><a href="deleteDuty/{{duty.id}}"><span style="font-size:35px;color:red;">&#10006</span></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
