<div class="navbar">
    <a href="{{ url_for('duties') }}">Λίστα υπηρεσιών</a>
    {% if current_user.is_authenticated %}
    <div class="dropdown">
        <button class="dropbtn">Υπηρεσίες</button>
        <div class="dropdown-content">
            <a href="{{ url_for('add_duty_form') }}">Καταχώρηση υπηρεσίας</a>
            <a href="{{ url_for('generate_duties') }}">Αυτόματη παραγωγή υπηρεσιών ΣΤΡ</a>
            <a href="{{ url_for('duties_type_list') }}">Λίστα διαθέσιμων τύπων υπηρεσιών</a>
            <a href="{{ url_for('add_duty_type') }}">Προσθήκη νέου τύπου υπηρεσίας</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Προσωπικό</button>
        <div class="dropdown-content">
            <a href="{{ url_for('register') }}">Προσθήκη προσωπικού</a>
            <a href="{{ url_for('users') }}">Διαθέσιμο προσωπικό</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Άδειες</button>
        <div class="dropdown-content">
            <a href="{{ url_for('absent_list') }}">Λίστα αδειών</a>
            <a href="{{ url_for('add_absent') }}">Προσθήκη άδειας</a>
            <a href="{{ url_for('add_absent_type') }}">Προσθήκη νέου τύπου άδειας</a>
            <a href="{{ url_for('absent_types_list') }}">Λίστα διαθέσιμων τύπων αδειών</a>
        </div>
    </div>
    <span style="float:right;"><a href="{{ url_for('logout') }}">Αποσυνδεθείτε</a></span>
    {% else %}
    <span style="float:right;"><a href="{{ url_for('login') }}">Συνδεθείτε</a></span>
    {% endif %}
</div>
