<title>Είσοδος</title>
<style>
body {
    text-align: center;
}
</style>
{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<center><h2>Είσοδος</h3></center>
<div id="login-form">
    <form method="POST">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.submit) }}
        </dl>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h4> {{message}} </h4>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}
